div{
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    margin: 15px;
}
button{
    font-size: 25px;
    background: linear-gradient(45deg,black,blueviolet);
    color: white;
    padding: 14px 25px;
    outline: none;
    margin: 10px;
}
button:hover{
    box-shadow: 0 0 10px black;
}
#laptop-image{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: block;
    margin: auto;
}
input[type='text']{
    font-size: 25px;
    height: 35px;
    border-radius: 5px;
    outline: none;
}
h2{
    font-size: 30px;
    margin: 10px 0 0 0;
}